.side-bar-left{

/* width in psd is 262px*/
/* min-height: 1200px; */
/* border: 1px solid red; */
/* background: #eeeeee; */

color: #444444;

}

.grey-outer-box{
    padding-top: 30px;
    padding-bottom: 30px;
background: #eeeeee;

}
.user-box{
width: 85%;
margin: 0 auto; 
margin-bottom: 30px;

}

.user-box img{
    float: left;
    margin-right: 8px;

}
ul.user-info{
 padding: 0;
 margin: 0;
 list-style: none;


}
ul.user-info li{
   font-size: 12px;
    color: #666666;
}
ul.user-info li h3{
    color: #444444;
    font-size: 18px;
    margin-bottom: 0;


}

ul.user-info li.on{
 color: #26e72f;
 font-size: 15px;
}
ul.user-info li.on span{
    font-size: 18px;
    margin-right: 5px;
}


ul.user-info li{

}

.chat_box{
/* width: 230px; */
margin: 0 auto;
margin-bottom: 30px;


}
.chat_box .btn{
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 5px;
    min-width: 214px;
    display: inherit;
    font-size: 16px;
    /* border-bottom: 2px solid ;  */
}

.chat_box .btn:hover{

}

.chat_box .btn img{
    /* border-right: 1px solid #fff; */
    padding-right: 8px;
    margin-right: 8px;
    float: left;
    vertical-align: middle;
}
.btn-chat, .btn-chat:hover { 
    color: #ffffff; 
    background-color: #007CDC; 
    border-color: #007CDC; 
  } 
   
  .btn-apply, .btn-apply:hover { 
    color: #ffffff; 
    background-color: #87b821; 
    border-color: #87b821; 
  } 
.btn-follow, .btn-follow:hover { 
    color: #ffffff; 
    background-color: #ff7800; 
    border-color: #ff7800; 
  } 

.contact_form1{
    
    margin: 0 auto;
    padding: 20px;
    border: 4px solid #007cdc;
    margin-bottom: 30px;


}


.contact_form1 h5{
    color: #007cdc;
    font-size: 15px;
    text-align: center;
    margin-bottom: 20px;
    
}
.contact_form1 label{
    margin-bottom: 0;
    color: #444444;
}

.contact_form1 .form-control{
border: 1px solid #ccc;
border-radius: 2px;


}


.contact_form1 button.snd{
    border: 1px solid #007cdc;
    color: #007cdc;
    text-transform: uppercase;

    
}
ul.social {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    min-height: 60px;
  }
  
  ul.social > li {
    display: inline-block;
  }
  
  ul.social > li > a {
    display: inline-block;
    font-size: 18px;
    line-height: 43px;
    width: 43px;
    height: 43px;
    border-radius: 36px;
    background-color: #222222;
    color: #fff;
    margin: 0 3px 3px 0;
  }
  ul.social > li > a.fb{

    background-color: #3b5999;
}
ul.social > li > a.twt{

    background-color: #1ca0f2;
}
ul.social > li > a.gplus{

    background-color: #d5493a;
}
ul.social > li > a.lnk{

    background-color: #0077b4;
}
ul.social > li > a.pin{

    background-color: #c6202d;
}



  ul.social > li > a:hover {
    text-decoration: none;
    /* background-color: #ee7c22; */
    /* background-color: #222222; */
    font-size: 15px;
  }



    .post_map{
    width: auto;
    font-size: 11px;
margin-bottom: 20px;

    }
    .post_map img{
        max-width: 100%;
    }
    ul.post_rel{
        padding: 0;
        margin: 0;
list-style: none;

    }




    ul.post_rel li a{
        text-decoration: none;

    }
    ul.post_rel li img{
        border: 1px solid #ccc;
        margin-right: 10px;
        float: left;
        
    }
    ul.post_rel li h4{
        color: #444444;
        font-weight: bold;
        font-size: 15px;
        text-decoration: underline;
        margin-bottom: 10px;
        text-decoration: none;
        
    }
    ul.post_rel li h4:hover{
        text-decoration: underline;
    }
    ul.post_rel li h4 span{
        color: #3f93e1;
        
    }
    ul.post_rel li{
        margin-bottom: 40px;
        
    }
    
